<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logging" type="CoreTechs.Logging.Configuration.ConfigSection, CoreTechs.Logging"/>
  </configSections>
  <logging>
    <target type="ColoredConsole" level="fatal" />
    <target type="File" Path="C:\Users\rCoreTechs\Desktop\log.txt" />
    <target type="PeriodicFile" Path="C:\Users\Ronnie\Desktop\logs" Unit="Second" />
    
    <target type="PeriodicEmail" To="support@core-techs.net" unit="day" />
  </logging>

  <system.net>
    <mailSettings>
      <smtp from="logging@example.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\Ronnie\Desktop\logs\mail"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>