<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logging" type="CoreTechs.Logging.Configuration.ConfigSection, CoreTechs.Logging"/>
  </configSections>
  <logging>
    <target type="ColoredConsole" FatalColor="Green" />
    <target type="File" Path="C:\Users\rCoreTechs\Desktop\log.txt" />
  </logging>
</configuration>