<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logging" type="CoreTechs.Logging.Configuration.ConfigSection, CoreTechs.Logging"/>
  </configSections>
  <logging>
    <target type="Trace" level="fatal" />
  </logging>

  <system.net>
    <mailSettings>
      <smtp from="logging@example.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost"/>
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Users\Ronnie\Desktop\mail"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>